<script src="../script/addToCart.js"></script>
<script src="../script/search.js"></script>
<script>
    function changeColor() {
        const button = document.querySelector('.wish-Icon');
        console.log(button);
        button.classList.toggle('fa-regular');
        button.classList.toggle('fa-solid');
        if (button.classList[3] === 'fa-solid') {
            console.log("Yes")
            button.style.color = "#ec4109"
        } else {
            button.style = ""
        }
    }
</script>
<script>
    const isUserLogIn = `<%= isUserLoggedIn %>`
</script>
<script src="../script/showDropdown.js"></script>
</body>

</html>