
<script src="../script/search.js"></script>
<script>
    const isUserLogIn = `<%= isUserLoggedIn %>`
</script>
<script src="../script/showDropdown.js"></script>
<script>
    // also add custom notification message
                function displayToast(eleId,message){
                const toast = document.getElementById(eleId);
                const toastMessage = document.getElementById('toast-message');
                toastMessage.innerHTML=message;
                    toast.classList.remove('hide');
                    toast.classList.add('show');
                    setTimeout(function () {
                        toast.classList.remove('show');
                        toast.classList.add('hide');
                    }, 1500)
            }
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="../script/tempScript.js"></script>
</body>

</html>