<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="stylesheet" href="../css/authentication.css">
    <link rel="stylesheet" href="../css/productPage.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-custom navbar-dark bg-dark">
            <div class="container-fluid">
                <p class="header-p">Sale is on <a class="header-a" href="#">Shop Now</a></p>
                <div class="navbar-expand " id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropstart">
                            <button class="btn btn-link dropdown-toggle header-btn" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                English
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Russian</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <h3><a class="navbar-brand" href="/">Exclusive</a></h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-left home-custom" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Contact</a>
                    </li>
                </ul>
                <form class="d-flex home-search" role="search">

                    <input class="form-control me-2" type="search" id="searchInput"
                        placeholder="What are you looking for?" aria-label="Search">

                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/wishlist">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn  dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false"
                                onclick="showDropDown()">
                                <i class="fa-regular fa-user"></i></a>
                            </a>
                            <ul class="dropdown-menu">
                                <li  class="notLogIn"><a class="dropdown-item"href="/Account"><i class="fa-regular fa-user"></i> Log In</a></li>
                                <li  class="logIn"><a class="dropdown-item"  href="/Account"><i class="fa-regular fa-user"></i> Manage My Account</a></li>
                                <li  class="logIn"><a class="dropdown-item"  href="/Order"><i class="fa-solid fa-bag-shopping"></i> My Order</a></li>
                                <li  class="logIn"><a class="dropdown-item"  href="/Order/cancel"><i class="fa-regular fa-circle-xmark"></i> My Cancellations</a></li>
                                <li  class="logIn"><a class="dropdown-item"  href="/Reviews"><i class="fa-regular fa-star"></i> My Reviews</a></li>
                                <li  class="logIn"><a class="dropdown-item"  href="/auth/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Cart"><i
                                class="fa-solid fa-cart-shopping "></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

