<%- include('header'); -%>
  <div class="grid-container">
    <div class="signup-img">
      <img src="../images/loginpic.jpg" class="auth-img">
    </div>
    <div class="login-form">
      <h3>Login to Exclusive</h3>
      <h7>Enter your details below</h7>
      <form action="/auth/login" method="POST">
        <div class="">
          <input type="email" class="custom-input" id="exampleInputEmail" aria-describedby="emailHelp" name="email"
            placeholder="Email or phone number">
        </div>
        <div class="">
          <input type="password" class="custom-input" id="exampleInputPassword1" name="password" placeholder="Password"
            required>
        </div>
        <button type="submit" class="btn-custom-login">Login</button>
        <a class="forgot-a" href="/auth/forgotPassword">Forgot Password ?</a></p>
        <div class="login-custom">
          <p>Don't have an account? <a class="signup-a" href="/auth/signup">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</body>

  <%- include('footer'); -%>