<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Page Expired</title>
    <link rel="stylesheet" href="../css/paymentPage.css">
</head>
<body>
    <div class="expiredDiv-container">
        <div class="expired-message">
            <img src="../images/clock.png" alt="Clock Image" class="clock-image">
            <h1>Payment Page Expired</h1>
            <p>Sorry, your session has expired. Please try initiating the payment again.</p>
            <a href="/" class="home-button">Return to Homepage</a>
        </div>
    </div>
</body>
</html>
