<%- include('header'); -%>
<div class="grid-container">
<div class="signup-img">
  <img src="../images/loginpic.jpg" class="auth-img">
</div>
  <div class="signup-form">
    <h3>Create an account</h3>
    <h7>Enter your details below</h7>
    <form action="/auth/signup" method="POST">
      <div class="mb-3">
        <input type="text" class="custom-input" id="" aria-describedby="emailHelp" name="name" placeholder="Name">
      </div>
      <div class="">
        <input type="email" class="custom-input" id="exampleInputEmail" aria-describedby="emailHelp" name="email" placeholder="Email or phone number">
      </div>
      <div class="">
        <input type="password" class="custom-input" id="exampleInputPassword1" name="password " placeholder="Password">
      </div>
      <button type="submit" class="btn-custom">Create Account</button>
      <div class="login-custom">
        <p>Already have an account? <a  class="signup-a"href="/auth/login">Log In</a></p>
      </div>
    </form>
  </div>
</div>
</body>
<%- include('footer'); -%>
