.grid-container-home {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 50px;
  padding: 10px 10px 10px 50px;
}

.grid-container-home>div {
  padding: 20px 0;
}

.category-img {
  height: 60px;
  width: 60px;
  text-align: center;
}

/* all product container */
.main-product-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-gap: 1px; */
  /* padding: 5px; */
  margin-left: 40px;
}

.main-product img {
  height: 200px;
  width: 200px;
  background-color: white;
  padding: 25px;
  display: block;
}


.img-container {
  position: relative;
}

.img-container .fa-stack {
  position: absolute;
  top: 5px;
  left: 170px;
}

.product-description{
  font-size: small;
  font-weight: 600;
  display: grid;
  grid-template-columns: auto;
  text-align: start;
  grid-gap:2px;
}

.product-price{
  color: orange;
}

.product-Rating {
  border: 1px solid #ccc; /* Example border style */
  padding: 3px; /* Example padding */
  display: inline-block; /* Ensures the div only takes up as much width as necessary */
}

.product-name{
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wish-Button button{
  padding: 0;
  border: none;
  background: none;
}

/*Cart CSS*/

.hide-container{
display: none;
}

.show-notification{
  /* background:  rgb(244, 77, 11); */
  left: 40% !important;
  top: 20% !important;
}

#loading-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
}

.cart-loc{
  margin-left: 30px;
  font-size: 13px;
  margin-top: 30px;
}

.cart-container {
  background-color: white;
  padding: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top:20px;
}

.cart-items {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-items th, td {
  padding: 8px;
  text-align: left;
}

.cart-items th {
  color: black;
}

.cart-items tr {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.cart-productDetails{
  display: flex;
  align-items: center;
}

.cart-items img{
        width: 100px; 
        height: auto;
        display: block;
        margin: 0 30px;
} 

.cart-productName{
  display: inline-block;
  font-size: medium;
  vertical-align: middle;
}

.quantity-button {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.quantity-box input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 5px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.return-button {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border : 1px solid black
}

.update-button {
  color:black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border : 1px solid black
  
}

.coupons{
  margin-top:50px;
}
.coupon-input{
  /* font-size: 40px; */
  height: 45px; 
  padding: 0 8px;
  border-radius: 5px ;
  border: 1px solid black;

}

.coupon-button {
  background-color:  rgb(244, 77, 11);
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border : 1px solid black
  
}

.totals {
  float: right;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.totals table {
  margin-bottom: 20px;
  width: 400px;
  border-collapse: collapse;
}
.totals th,td{
  padding: 8px;
}

.subtotal, .shipping, .total {
  margin-right: 20px;
}

.checkout-button {
  background-color:  rgb(244, 77, 11);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60px;
}

/*Cart CSS ends*/